* {
margin: 0px !important;
font-weight: 600 !important;
font-family · 'Libre Franklin';
text-transform: uppercase;

}

button {
margin: 10px 0 0 0 !important;
background-color: #808080 !important;
}

label {
padding-bottom: 5px !important;
padding-top: 1px !important;
color: #808080 !important;
}

.multiselect__tags {
padding-bottom: 5px !important;
}